<div class="mt-5 row">
  <div class="col-6">
    <label for="">City</label>
    <select class="form-select" (change)="changeCity($event)">
      <option *ngFor="let data of vietNamData" value="{{ data.city }}">{{ data.city }}</option>
    </select>
  </div>

  <div class="col-6">
    <label for="">District</label>
    <select class="form-select" (change)="changeCity($event)">
      <option *ngFor="let district of districts" value="{{ district }}">{{ district}}</option>
    </select>
  </div>
</div>
